* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-holder {
  width: 100vw;
  min-height: 100vh;
}

.card {
  /* other base style */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(166, 173, 201, 0.2);
  min-width: 25rem;
  min-height: 15rem;
  border-radius: 10px;
  padding: 2.5em 2.5em;
}
/* #components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
} */
